<launch>
    <!-- 
      pkg: name of package
      type: executable name within package that contains desired node
      name: give the node a name - will be used in remap from attribute
      output: display on terminal
     -->
    <!-- Notes:
    Find way to launch nodes in different terminals -->
    <!-- remap: "Trick" a node that subscribed to the "to" topic to subscribe to the "from" topic too -->
    <!-- <node pkg="square_path" type="moving.py" name="moving_node" output="screen">
        <remap from="moving_node/cmd_vel" to="cmd_vel_mux/input/teleop" />
    </node> -->
    <node pkg="capstone_fyp" name="face_detection_node" type="face_detection_clean.py" output="screen" launch-prefix="gnome-terminal --command"></node>

    <node pkg="capstone_fyp" name="chatbot_main_node" type="chatbot_main_clean.py" output="screen" launch-prefix="gnome-terminal --command"></node>

    <node pkg="capstone_fyp" name="chatbot_function_node" type="chatbot_function_node_clean.py" output="screen" launch-prefix="gnome-terminal --command"></node>

    <node pkg="capstone_fyp" name="noise_detection_node" type="noise_detection_clean.py" output="screen" launch-prefix="gnome-terminal --command"></node>
</launch>